/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* keep in mind cross browser reset */

/* * for all: set properties for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* from inheritence */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

/* vh is viewport, specify image via url, position at top */
.header {
  height: 95vh;
  /* gradients run across colors, set and select colors from pre-defined template, gradient will lay over image */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(48, 180, 131, 0.8)
    ),
    url(../img/Filler.jpg);
  background-size: cover;
  background-position: top;
  /* clip path reshapes an image top left, top right, btm right, btm left*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

/* logo header */
.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px;
}
/* glitch on hover */
.logo:hover {
  animation: moveInLeft 2s ease-in;
}

/* heading */
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  background-color: red;
  transform: translate(-50%, -50%);
  padding: 10px 10px;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 10px;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  /* animation */
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  /* wait for load to fire */
  /* animation-delay: 0.5s; */
  /* multiple animations */
  /* animation-iteration-count: 3; */
  /* animation timing */
  animation-timing-function: ease-in;
}
.heading-primary-sub {
  display: block;
  font-size: 15px;
  font-weight: 100px;
  letter-spacing: 10px;
  animation: moveInRight 1.5s ease-in;
}
/* animation for heading text for performace, best to only animate 2 properties */
@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  /* finish */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  /* finish */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  /* start */
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  /* finish */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* button in header */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 10px;
  /* shape */
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.btn-white {
  background-color: #fff;
  color: #777;
}
/* header button animation */
.btn-animated {
  animation: moveInBottom 1s ease-in 1s;
  animation-fill-mode: backwards;
}
/* pseudo element - acts like a child of button */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn-white::after {
  background-color: #fff;
}
.btn:hover::after {
  transform: scaleX(1.25) scaleY(1.5);
  opacity: 0;
}

/* responsive */
