/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* keep in mind cross browser reset */

/* * for all: set properties for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* from inheritence */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.7;
  color: "#777";
}

/* vh is viewport, specify image via url, position at top */
.header {
  height: 95vh;
  /* gradients run across colors, set and select colors from pre-defined template, gradient will lay over image */
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
    url(../img/Filler.jpg);
  background-size: cover;
  background-position: top;
}
